<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<filter>
		<filter-name>XssFilter</filter-name>
		<filter-class>com.xss.web.filter.XssFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>XssFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:applicationContext.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>VerificationServlet</servlet-name>
		<servlet-class>com.xss.web.servlet.VerificationServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.xss.web.servlet.AdminServlet</servlet-class>
  </servlet>
	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.asp</url-pattern>
		<url-pattern>*.php</url-pattern>
		<url-pattern>*.aspx</url-pattern>
		<url-pattern>*.jspx</url-pattern>
		<url-pattern>*.phpx</url-pattern>
		<url-pattern>*.cer</url-pattern>
		<url-pattern>*.txt</url-pattern>
		<url-pattern>*.ashx</url-pattern>
		<url-pattern>*.ascx</url-pattern>
		<url-pattern>*.ser</url-pattern>
		<url-pattern>*.cgi</url-pattern>
		<url-pattern>*.xml</url-pattern>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.htm</url-pattern>
		<url-pattern>*.sb</url-pattern>
		<url-pattern>*.jshx</url-pattern>
		<url-pattern>*.gov</url-pattern>
		<url-pattern>*.edu</url-pattern>
		<url-pattern>*.sos</url-pattern>
		<url-pattern>*.asa</url-pattern>
		<url-pattern>*.asax</url-pattern>
		<url-pattern>*.shtml</url-pattern>
		<url-pattern>*.iis</url-pattern>
		<url-pattern>*.swf</url-pattern>
		<url-pattern>*.exp</url-pattern>
		<url-pattern>*.esp</url-pattern>
		<url-pattern>*.csp</url-pattern>
		<url-pattern>*.psp</url-pattern>
		<url-pattern>*.fsp</url-pattern>
		<url-pattern>*.xsp</url-pattern>
		<url-pattern>*.action</url-pattern>
		<url-pattern>*.ftl</url-pattern>
		<url-pattern>*.cmd</url-pattern>
		<url-pattern>*.bat</url-pattern>
		<url-pattern>*.vbs</url-pattern>
		<url-pattern>*.vbe</url-pattern>
		<url-pattern>*.com</url-pattern>
		<url-pattern>*.xhtml</url-pattern>
		<url-pattern>*.jhtml</url-pattern>
		<url-pattern>*.tmp</url-pattern>
		<url-pattern>*.cssx</url-pattern>
		<url-pattern>*.jsx</url-pattern>
		<url-pattern>*.exe</url-pattern>
		<url-pattern>*.mspx</url-pattern>
		<url-pattern>*.exec</url-pattern>
		<url-pattern>*.org</url-pattern>
		<url-pattern>*.jpgx</url-pattern>
		<url-pattern>*.gifx</url-pattern>
		<url-pattern>*.pngx</url-pattern>
		<url-pattern>*.py</url-pattern>
		<url-pattern>*.cgix</url-pattern>
		<url-pattern>*.shell</url-pattern>
		<url-pattern>*.csrf</url-pattern>
		<url-pattern>*.xss</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerificationServlet</servlet-name>
		<url-pattern>/VerificationServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.do</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/jsp/500.jsp</location>
	</error-page>
	<filter>
		<filter-name>BaseFilter</filter-name>
		<filter-class>com.xss.web.filter.BaseFilter</filter-class>
		<init-param>
			<param-name>excludes</param-name>
			<param-value>/s/**</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>BaseFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>SuffixFilter</filter-name>
		<filter-class>com.xss.web.filter.SuffixFilter</filter-class>
		<init-param>
			<param-name>excludes</param-name>
			<param-value>/s/**</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SuffixFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>UserFilter</filter-name>
		<filter-class>com.xss.web.filter.UserFilter</filter-class>
		<init-param>
			<param-name>excludes</param-name>
			<param-value>/s/**</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<url-pattern>/user/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>AdminFilter</filter-name>
		<filter-class>com.xss.web.filter.AdminFilter</filter-class>
		<init-param>
			<param-name>excludes</param-name>
			<param-value>/s/**</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
		<url-pattern>/admin/</url-pattern>
		<url-pattern>/admin</url-pattern>
	</filter-mapping>
</web-app>